[Unit]
Description=System Upgrade
DefaultDependencies=no
After=system-update.target

# Reboot (back to the working system) if something goes wrong
OnFailure=reboot.target
OnFailureIsolate=yes

# If this is actually a full Fedora upgrade, suppress packagekit-offline-update
ConditionPathExists=/system-update/.fedup
Conflicts=packagekit-offline-update.service

# TODO: would be nice if we could just move the journal to disk for one boot..
Wants=syslog.socket
After=syslog.socket

[Service]
ExecStartPre=-/usr/bin/plymouth change-mode --updates
ExecStart=/usr/lib/systemd/fedora-system-upgrade --plymouth --reboot
StandardOutput=journal+console
StandardError=journal+console
