[Unit]
Description=Start System Upgrade
DefaultDependencies=false
ConditionPathExists=/run/initramfs/upgrade.conf
After=sockets.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --no-block isolate system-upgrade.target
