# This is the system-update.target from systemd v183, plus upgrade-prep.service
[Unit]
Description=System Upgrade
Documentation=http://freedesktop.org/wiki/Software/systemd/SystemUpdates
Documentation=man:systemd.special(7)
Requires=sysinit.target
Conflicts=shutdown.target systemd-readahead-collect.service systemd-readahead-replay.service
After=sysinit.target
Before=shutdown.target
Wants=upgrade-prep.service
AllowIsolate=yes
