# This is the system-update.target from systemd v183, plus upgrade-prep.service
[Unit]
Description=System Upgrade
Documentation=http://freedesktop.org/wiki/Software/systemd/SystemUpdates
Documentation=man:systemd.special(7)
Requires=sysinit.target
Conflicts=shutdown.target systemd-readahead-collect.service systemd-readahead-replay.service
After=sysinit.target
# F17 needs these to start properly
Wants=udev.service udev-trigger.service
After=udev.service udev-trigger.service
Before=shutdown.target
Wants=upgrade-prep.service upgrade-plymouth-switch-root.service
AllowIsolate=yes
