[Unit]
Description=Prepare Upgrade Image
Documentation=man:upgrade-switch-root.service(8)
DefaultDependencies=no
ConditionPathIsMountPoint=/system-upgrade-root
OnFailure=emergency.target
OnFailureIsolate=yes
After=upgrade-switch-root.target

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/plymouth update-root-fs --new-root-dir=/system-upgrade-root
ExecStart=-/usr/bin/systemctl --no-block --force switch-root /system-upgrade-root
StandardInput=null
StandardOutput=null
StandardError=null
KillMode=none
