[Unit]
Description=Prepare Upgrade Image
Documentation=man:upgrade-prep.service(8)
After=sysinit.target
OnFailure=reboot.target
OnFailureIsolate=true

# logging
After=syslog.socket
Wants=syslog.socket

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/upgrade-prep.sh
ExecStopPost=-/usr/bin/echo "about to switch root"
ExecStopPost=-/usr/bin/systemctl --no-block isolate upgrade-switch-root.target

[Install]
WantedBy=system-upgrade.target
