[Unit]
Description=Switch Root
ConditionPathExists=/run/initramfs/upgrade.conf
DefaultDependencies=no
Requires=upgrade-switch-root.service
Before=upgrade-switch-root.service
AllowIsolate=yes
Wants=sysinit.target upgrade-plymouth-switch-root.service
After=sysinit.target upgrade-plymouth-switch-root.service
