[Unit]
Description=Prepare Upgrade Image
DefaultDependencies=no
ConditionPathIsMountPoint=/system-upgrade-root
OnFailure=emergency.target
AllowIsolate=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --no-block --force switch-root /system-upgrade-root
KillMode=none
