[Unit]
Description=System Upgrade
Documentation=man:upgrade.service(8)
DefaultDependencies=no
After=upgrade.target

[Service]
Type=oneshot
ExecStart=-/bin/upgrade
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
KillMode=process
KillSignal=SIGHUP
