[Unit]
Description=System Upgrade
Documentation=man:upgrade.target(7)
Requires=sysinit.target sockets.target
After=sysinit.target sockets.target
AllowIsolate=yes
