[Unit]
Description=System Upgrade (post)
Documentation=man:upgrade-post.service(8)
DefaultDependencies=no
After=upgrade.target
After=upgrade.service

[Service]
Type=oneshot
ExecStart=-/bin/upgrade-post
ExecStopPost=-/usr/bin/systemctl --no-block reboot
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
KillMode=process
KillSignal=SIGHUP
