[Unit]
Description=System Upgrade (pre)
Documentation=man:upgrade-pre.service(8)
DefaultDependencies=no
After=upgrade.target plymouth-start.service
Before=upgrade.service

[Service]
Type=oneshot
ExecStart=-/bin/upgrade-pre
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
KillMode=process
KillSignal=SIGHUP
